<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "The Elecric Journal" %></h1>
  <button class="default-btn">
    <%= link "Data Management", to: Routes.live_path(@conn, NetworkingLogWeb.DataManagementLive) %>
  </button>
  <button class="default-btn">
    <%= link "Test", to: Routes.live_path(@conn, NetworkingLogWeb.TestLive) %>
  </button>
</section>
