<main role="main" class="container">
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"

  <%= @inner_content %>
</main>
