<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= Phoenix.LiveView.Helpers.live_title_tag assigns[:page_title] || "Elecric Journal", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>
  <body>
    <header>
    </header>
    <%= @inner_content %>
    <footer>
      <section class="container">
        <nav role="navigation">
          <table width="100%">
            <tr>
              <td>
                <ul>
                  Could have a link
                </ul>
                <p>Could have some tools</p>
              </td>
              <td>
                Could render _networkinglog_pages.html (if it was made)
              </td>

            </tr>
          </table>
        </nav>
      </section>
    </footer>
  </body>
</html>
