/*
My color scheme:
  #E3E6C0 - rgb(227, 230, 192)
  #BEC645 - rgb(190, 198, 69)
  #819D49 - rgb(129, 157, 73)
  #5A8359 - rgb(90, 131, 89)
  #112810 - rgb(17, 40, 16)
 */
 :root {
   --pale: theme('colors.green.pale');
   --light: theme('colors.green.light');
   --base: theme('colors.green.base');
   --dark: theme('colors.green.dark');
   --darkest: theme('colors.green.darkest');
 }
 .btn-text{
   padding: 4px;
 }
 .default-btn{
   border: none;
   background-color: var(--dark);
   color: var(--pale);
 }
.selectable-btn{
  @apply default-btn;
  --border: 4px;
  padding: var(--border);
  background-color: var(--pale);
  color: var(--darkest);
  --tw-ring-color: --tw-bg-opacity(0.5);
  --tw-ring-color: var(--light);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--border) + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
.selected-btn{
  @apply selectable-btn;
  background-color: var(--base);
}
